body {
  background-color: rgb(205, 191, 191);
}

button {
  border-color: rgb(106, 91, 91);
  border-width: 1px;
  width: 175px;
  height: 40px;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 25px;
  margin-bottom: 30px;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
}


.images {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  gap: 25px;
}

.img {
  display: fle
  align-items: center;
  justify-content: center;
}

img{
  max-width: 200px;
  max-height: 200px;
}

.active {
  background-color: rgb(160, 159, 159);
}